/*****************/


/*百度新闻CSS样式*/


/*****************/


/* 清除浮动 */

.cf::before,
.cf::after {
    content: "";
    display: block;
    clear: both;
}

html {
    /*1rem=10px 0.1rem=1px*/
    font-size: 62.5%;
    font-family: arial;
    height: 100%;
}

body {
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}


/* reset end */

header {
    background: #4182f1 url('../img/bg-news-logo_344ce44.png')no-repeat center center;
    background-size: 6rem;
}


/* 头部a标签 */

header a {
    display: block;
    height: 4.8rem;
    line-height: 4.8rem;
    color: #fff;
    margin: 0 1rem;
}


/* 第1、2个图标 */

header a:nth-child(1),
header a:nth-child(2) {
    float: left;
}


/* 第3、4个图标 */

header a:nth-child(3),
header a:nth-child(4) {
    float: right;
}

header a .iconfont {
    font-size: 2rem;
}


/* nav标签 */

nav {
    background: #4182f1;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

nav ul li {
    display: inline-block;
    font-size: 1.44rem;
    text-align: center;
    width: 16.66%
}

nav a {
    display: inline-block;
    padding: 1rem 0;
    color: #fff;
}

nav ul i {
    display: inline-block;
    height: 2rem;
    float: right;
    border-right: 1px solid #5898f0;
    position: relative;
    top: 1.1rem;
}


/* 内容 */

.news-lists {
    margin: 1rem 0 0;
    padding: 0 1.3rem;
    list-style: none;
}

.news-lists h1 {
    font-size: 1.3rem;
}

.news-list {
    display: flex;
}

.newsimg {
    flex: 1;
}

.newscontent {
    flex: 2;
    padding: 0 0.8rem;
}

.newsimg img {
    width: 100%;
    height: auto;
}

.newscontent span {
    display: inline-block;
}

.newscontent span:nth-child(2) {
    margin-left: .8rem;
    border: 1px solid #ff0000;
    border-radius: 3px;
    color: #ff0000;
    padding: 0.1rem;
}

.sbody {
    position: relative;
    height: 18.3rem;
}

.sbody {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0.5rem;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-stypt{
	height: 30px;
	line-height: 30px;
}
.sbody .txt{
	position: absolute;
	left: 0;
	bottom: -13px;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	text-align: left;
	font-size: 1.6rem;
	overflow: hidden;
	width: 100%;
	background: rgba(0,0,0,.4);
	box-sizing: border-box;
}
.sbody .txt span{
	display: inline-block;
	height: 28px;
	text-align: left;
	width: 100%;
}
.sbody a{
	color: #ffffff;
}
.sbody a img{
	width: 100%;
}