/*
3D魔方
 */

.view {
    width: 180px;
    height: 180px;
    margin: 300px auto 0 auto;
}

#box {
	/*定义一个animation的动画*/
    -webkit-animation-name: animation;
    /*设置对象动画的过渡类型*/
    -webkit-animation-timing-function: ease-in-out;
    /*设置对象动画的循环次数*/
    -webkit-animation-iteration-count: infinite;
    /*设置对象动画持续时间*/
    -webkit-animation-duration: 3s;
    /*设置转换3D*/
    -webkit-transform-style: preserve-3d;
    /*设置对象以某个原点进行转换*/
    -webkit-transform-origin: 90px 90px 0;
    -webkit-perspective:300;
    -webkit-perspective-origin: 25% 75%;
}

.one,
.two,
.three,
.four,
.five,
.six {
    width: 180px;
    height: 180px;
    position: absolute;
}

#box .one {
    -webkit-transform: translateZ(90px);
}

#box .two {
    -webkit-transform: rotateX(-90deg) translateZ(90px);
}

#box .three {
    -webkit-transform: rotateY(90deg) rotateX(180deg) translateZ(90px);
}

#box .four {
    -webkit-transform: translateZ(-90px);
}

#box .five {
    -webkit-transform: rotateZ(90deg) rotateY(-90deg) translateZ(90px);
}

#box .six {
    -webkit-transform: rotateY(90deg) translateZ(90px);
}

.surface_one,
.surface_two,
.surface_three,
.surface_four,
.surface_five,
.surface_six {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    float: left;
}

.surface_one {
    background-color: blue;
}

.surface_two {
    background-color: orange;
}

.surface_three {
    background-color: #FF00FF;
}

.surface_four {
    background-color: #EE4000;
}

.surface_five {
    background-color: #C0FF3E;
}

.surface_six {
    background-color: red;
}

@-webkit-keyframes animation {
    from {
        -webkit-transform: translateZ(-10em) rotateX(0) rotateY(0deg);
        transform: translateZ(-10em) rotateX(0) rotateY(0deg);
    }
    ,
    to {
        -webkit-transform: translateZ(-10em) rotateX(360deg) rotateY(360deg);
        transform: translateZ(-10em) rotateX(360deg) rotateY(360deg);
    }
    16% {
        -webkit-transform: rotateY(-90deg);
    }
    33% {
        -webkit-transform: rotateY(-90deg) rotateZ(135deg);
    }
    50% {
        -webkit-transform: rotateY(-225deg) rotateZ(135deg);
    }
    66% {
        -webkit-transform: rotateY(-135deg) rotateX(135deg);
    }
    83% {
        -webkit-transform: rotateY(-135deg);
    }
}


}
