/*
项目：后台管理
编写：陈创杰
时间：2016-12-2
 */

* {
    padding: 0;
    margin: 0;
}

#loginbox {
    margin-top: 10px;
}

#loginbox > div:first-child {        
    padding-bottom: 10px;    
}

.iconmelon {
    display: block;
    margin: auto;
}

#form > div {
    margin-bottom: 25px;
}

#form > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

#p-text{
	color: red;
	text-align: center;
}